---
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    {description ? <meta name="description" content={description} /> : null}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/EurostileLTStd-Ex2.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <title>{title}</title>
  </head>
  <body>
    <main class="main-content">
      <slot />
    </main>
  </body>
</html>
